/* * {
    box-sizing: border-box;
} */

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

body,
h3,
ul {
    padding: 0;
    margin: 0;
}

h1 {
    width: 320px;
}

h2 {
    text-align: center;
}

/* HEADER */

.header {
    background-color: #1F2937;
    color: white;
    padding-bottom: 100px;
}

.header-logo {
    display: flex;
    justify-content: space-between;
    padding: 0 255px;
    margin-bottom: 50px;
}

.header-title {
    display: flex;
    justify-content: space-around;
}

/* ITEM CONTAINER */

.content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.item-container {
    display: flex;
    justify-content: center;
    gap: 52px;
    padding-bottom: 100px;
}

.item > img {
    width: 150px;
    height: 150px;
    border-radius: 25px;
    border: 1px solid blue;
    padding: 16px;
}

.text {
    text-align: center;
}

/* QUOTE CONTAINER */

.quote-container {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    flex: 1 0 300px;
    justify-content: center;
    align-items: center;
}

/* SIGNUP CONTAINER */

.signup-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 128px 400px;
}

.signup-inner-container {
    background-color: #3882F6;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 64px 140px;
    min-width: 200px;
    flex-wrap: wrap;
    gap: 8px;
}

.signup-title {
    font-weight: bold;
    font-size: 20px;
}

.signup-desc {
    color: #cccccc;
}

.signup-inner-container > button {
    background-color: #3882F6;
    color: white;
    border-radius: 10px;
    border: 2px solid white;
    padding: 0 40px;
    min-height: 40px;
    font-size: 15px;
}

/* FOOTER */

.footer {
    background-color: #1F2937;
    color: white;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 200px;
    height: 200px;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
}